##coding:utf-8
<%!import urllib%>
<%l = values[0]%>
<%r = values[1]%>
<html>
     <head>
         <title>avmash,给喜欢的av明星投票</title>
        <meta content="text/html; charset=UTF-8" http-equiv="content-type"> <style> 
            div{
                1px solid black;
            }
            .top{
                margin:auto;
                color: #AF1404;
                width:810px;
                text-align:center;
                margin-bottom:30px;
                margin-top:30px;
            }
            .top h1{
                display:inline;
            }
            .top span{
                font-size:14px;
            }
            .outer{
                width:810px;
                height:400px;
                margin:auto;
            }
            .inner-l{
                width:400px;
                height:200px;
                float:left;
            }
            .inner-r{
                width:400px;
                height:200px;
                float:left;
            }
            .info{
                width:400px;
            }
            ul{
                border:1px solid #EDEDED;
                float:left;
            }
            li{
                list-style-type:none;
                color:#666666;
                border-bottom:1px dotted #CCCCCC;
                overflow:hidden;
                height:50px;
                width:400px;
                margin-left:-40px;
            }
            a{
                font-family: Microsoft 微软雅黑! importan;
                font-weight: bold
                font-size:12px;
                color: #AF1404;
                cursor: pointer;
                text-decoration: none;
            }
            img{
                float:left;
            }
            .bottom{
                width:800px;
                margin:auto;
            }
        </style>
        <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21673143-3']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

        </script>
    </head>
    <body>
        <div class="top">
            <h1>avmash</h1>
            <span> 选出最漂亮的avgirls</span>
        </div>
        <div class="outer">
            <div class="inner-l">
            <a href="?win=${str(l.get('id'))}&lose=${str(r.get('id'))}"><img src = "/static/${str(l.get('id'))}.jpg" height="160px"></a>
            <div class="info">
                <ul>
                    <li>
                    姓名:&nbsp;<a target="_blank" href="${l.get('link')}"> ${l.get('name')}</a>
                    </li>
                    <li>
                    生日:&nbsp; ${l.get('birth')}
                    </li>
                </ul>
            </div>
            </div>
            <div class="inner-r">
                <a href="?win=${str(r.get('id'))}&lose=${str(l.get('id'))}"><img src = "/static/${str(r.get('id'))}.jpg" height="160px"></a>
            <div class="info">
                <ul>
                    <li>
                    姓名:&nbsp;<a target="_blank" href="${r.get('link')}"> ${r.get('name')}</a>
                    </li>
                    <li>
                    生日:&nbsp; ${r.get('birth')}
                    </li>
                </ul>
            </div>
            </div>
        </div>
        <div class="bottom" >
            <a style="float:right;" href="/result"><span>&gt;&gt;查看结果</span></a>
            %for i in rt_site:
            <a href="${i[0]%(urllib.quote("投票选出最漂亮的AV女优!"),urllib.quote("http://avmash.co.cc"))}" target="_blank"><img src="/static/${i[2]}.png"></img></a>
            %endfor
        </div>
    </body>
</html>

